{% extends 'locker/base.html' %}

{% block content %}

<br>
<br>
<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1>Update Documents</h1>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="form-group">
                    <label for="id_title" class="mb-1"><b>Title :</b></label>
                    <input type="text" id="id_title" class="form-control mb-3" name="title" value="{{ upload.title }}">
                    <label for="id_image" class="mb-1"><b>Image :</b></label>
                    <input type="file" name="docimg" id="id_image" class="form-control"><small>Please upload only
                        Images.</small>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="rounded-1 alert alert-info my-2">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <button type="submit" class="form-control btn btn-success my-2">Update</button>
                    <a href="{{ upload.docimg.url }}" class="form-control btn btn-info mb-2" download>Download</a>
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mb-2">
            <button class="form-control btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete</button>
            <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{ upload.title }}?
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</a>
                            <form method="POST" action="{% url 'deleteupload' upload.id %}">
                                {% csrf_token %}
                                <button type="submit" class="form-control btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mb-3">
            <a href="{% url 'homepage' %}" class="form-control btn btn-secondary">
                Go Back
            </a>
        </div>
    </div>
</div>

{% endblock %}