{% extends 'locker/base.html' %}

{% block content %}

<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1>Password Reset Page</h1>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="form-group">
                    <label for="id_password1" class="mt-3 mb-2"><b>Password :</b></label>
                    <input type="password" id="id_password1" class="form-control mb-3" name="password1" required>
                    <label for="id_password2" class="mb-2"><b>Confirm Password :</b></label>
                    <input type="password" id="id_password2" class="form-control mb-3" name="password2" required>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="rounded-1 alert alert-info">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <button type="submit" class="form-control btn btn-success">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}