{% extends 'locker/base.html' %}

{% block content %}

<br>
<br>
<div class="container">
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <h1>Share Documents</h1>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="form-group">
                    <label for="id_shrtitle" class="mb-1"><b>Title :</b></label>
                    <input type="text" id="id_shrtitle" class="form-control mb-3" name="shrdtitle" required>
                    <label for="id_shrimage" class="mb-1"><b>Image :</b></label>
                    <input type="file" name="shrdimg" id="id_shrimage" class="form-control" required><small>Please share only Images.</small>
                    <br>
                    <label for="id_dwnldprms" class="form-check-label mb-1 mt-3"><b>Download Permission : </b></label>
                    <input type="checkbox" name="dwnldprms" id="id_dwnldprms" class="form-check-input mt-3 mx-3">
                    <br>
                    <label for="id_shrreciever" class="mb-1 mt-3"><b>Recipient :</b></label>
                    <select name="reciever_user" id="id_shrreciever" class="form-control" required>
                        <option value="" class="form-control" selected disabled></option>
                        {% for eachuser in alluser %} 
                        <option value="{{ eachuser.id }}" class="form-control">{{ eachuser.first_name }} {{ eachuser.last_name }}</option>
                        {% endfor %}
                    </select>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="rounded-1 alert alert-info my-2">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <button type="submit" class="form-control btn btn-success mt-2">Share</button>
                    <a href="{% url 'homepage' %}" class="form-control btn btn-success mt-2">Back</a>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}